html {
  font-family: Arial, sans-serif;
}

.wrapper > header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

main.column {
  width: calc(100% - 40px); /* avoid horizontal scroll due to padding */
  padding: 20px;
}

.avatar {
  border-radius: 50%; /* circular mask */
  margin: 0 5px 0 0;
}

.lang {
  background-color: #b6eacb;
  border: 1px #6eca93 solid;
  border-radius: 3px;
  color: #294434;
  padding: 2px 5px;
  margin: 3px;
}

.gist_row {
  padding: 10px;
  border: 1px #c8d6e6 solid;
  background-color: #fafff7;
  margin: 10px 0;
  border-radius: 5px;
}

.gist_row > header {
  display: flex;
}

.gist_row > header .avatar {
  flex-direction: row;
  align-self: center;
  margin: 0;
}

.gist_row h4 {
  margin: 0 10px;
  flex-direction: row;
  align-self: center;
  /* truncate gist description */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gist_row .forks,
.gist_row .langs {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 10px;
  font-size: 0.8rem;
}
.gist_row .forks > span,
.gist_row .langs > span {
  align-self: center;
  margin-right: 5px;
}